<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
 	
 	
	<resultMap id="PurchaseSelectMap" type="purchase">
		<result property="tranNo" 		column="tran_no" 			jdbcType="NUMERIC"/>
		<result property="purchaseProd.prodNo" 	column="prod_no" 	jdbcType="NUMERIC" />
		<result property="buyer.userId" 	column="buyer_id" 	jdbcType="VARCHAR" />
		<result property="paymentOption" 	column="payment_option" 	jdbcType="CHAR" />
		<result property="receiverName" 		column="receiver_name" 				jdbcType="VARCHAR" />
		<result property="receiverPhone" 		column="receiver_phone" 				jdbcType="VARCHAR" />
		<result property="divyAddr" 	column="demailaddr" 		jdbcType="VARCHAR" />
		<result property="divyRequest" 		column="dlvy_request" 			jdbcType="VARCHAR" />
		<result property="tranCode" 		column="tran_status_code" 			jdbcType="CHAR" />
		<result property="orderDate" 		column="order_data" 			jdbcType="DATE" />
		<result property="divyDate" 		column="dlvy_date" 			jdbcType="DATE" />
		<result property="tranCount" 		column="tran_count" 			jdbcType="NUMERIC" />
		<result property="basketCode" 		column="basket_code" 			jdbcType="NUMERIC" />
		
		
		<association property="purchaseProd"  javaType="product">
			<id property="prodNo" column="prod_no" jdbcType="NUMERIC"/>
			<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
			<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR"/>
			<result property="manuDate" column="manufacture_day" jdbcType="VARCHAR"/>
			<result property="price" column="price" jdbcType="NUMERIC"/>
			<result property="fileName" column="image_file" jdbcType="VARCHAR"/>
			<result property="regDate" column="reg_date" jdbcType="DATE"/>
			<result property="prodTranCode" column="TRAN_STATUS_CODE" jdbcType="VARCHAR"/>
			<result property="prodCount" 	column="prod_count" 		jdbcType="NUMERIC" />
		</association>
		
		<association property="buyer"  javaType="user">
			<id property="userId" column="buyer_id" jdbcType="VARCHAR"/>
			<result property="userName" column="user_name" jdbcType="VARCHAR"/>
			<result property="password" column="password" jdbcType="VARCHAR"/>
			<result property="role" column="role" jdbcType="VARCHAR"/>
			<result property="ssn" column="ssn" jdbcType="VARCHAR"/>
			<result property="phone" column="cell_phone" jdbcType="VARCHAR"/>
			<result property="addr" column="addr" jdbcType="VARCHAR"/>
			<result property="email" column="email" jdbcType="VARCHAR"/>
			<result property="regDate" column="reg_date_1" jdbcType="DATE"/>
		</association>
	</resultMap>
	
	
	
	<!-- SQL : INSERT -->
	
	<insert 	id="addPurchase"		parameterType="Purchase" >
	 	INSERT 
	 	INTO transaction  
	 	VALUES (seq_transaction_tran_no.NEXTVAL,#{purchaseProd.prodNo}, #{buyer.userId}, #{paymentOption:CHAR}, #{receiverName:VARCHAR}, #{receiverPhone:VARCHAR}, #{divyAddr:VARCHAR}, #{divyRequest:VARCHAR}, #{tranCode:CHAR}, sysdate, #{divyDate:DATE},#{tranCount:NUMERIC} , SEQ_TRANSACTION_BASKET_CODE.NEXTVAL)
	</insert>
	
	<insert id="addBasketList" parameterType="buyBasket">
	    INSERT ALL
	    <foreach collection="prodNo" item="productNo" index="i"  open="" separator=" " close="SELECT * FROM DUAL">
		    <foreach collection="prodCount" item="productCount" index="j">
		    <if test="i == j">
		    INTO transaction
		    VALUES				 
		        (fn_get_tran_no ,#{productNo}, #{purchase.buyer.userId}, #{purchase.paymentOption:CHAR}, #{purchase.receiverName:VARCHAR}, #{purchase.receiverPhone:VARCHAR}, #{purchase.divyAddr:VARCHAR}, #{purchase.divyRequest:VARCHAR}, #{purchase.tranCode:CHAR}, sysdate, #{purchase.divyDate:DATE}, #{productCount} , SEQ_TRANSACTION_BASKET_CODE.NEXTVAL)
		    </if>
		    </foreach>
	    </foreach>
	</insert>

	<!-- SQL : SELECT ONE -->
	 <select 	id="getPurchase"	parameterType="_int"	resultMap="PurchaseSelectMap">
		SELECT *
		FROM transaction t, product p, users u
		WHERE t.prod_no = p.prod_no (+)
        AND t.buyer_id = u.user_id 
		AND t.tran_no = #{value}
	</select>
	
	 <select 	id="getPurchaseProd"	parameterType="_int"	resultMap="PurchaseSelectMap">
		SELECT *
		FROM transaction t, product p, users u
		WHERE t.prod_no = p.prod_no (+)
        AND t.buyer_id = u.user_id 
		AND t.prod_no = #{value}
	</select>
	
	<!--SQL : UPDATE -->
	<update	id="updatePurchase"	parameterType="purchase" >
	  	UPDATE transaction
	  	<set>
	  		payment_option = #{paymentOption},
	  		receiver_name = #{receiverName},
	  		receiver_phone = #{receiverPhone},
	  		demailaddr = #{divyAddr},
	  		dlvy_request = #{divyRequest},
	  		dlvy_date =  #{divyDate:DATE}
	  	</set>
	  	 WHERE tran_no=#{tranNo}
	</update>
	<update	id="updateTranCode"	parameterType="purchase" >
	  	UPDATE transaction
	  	<set>
	  		tran_status_code=#{tranCode}
	  	</set>
	  	 WHERE tran_no=#{tranNo}
	</update>
	<!-- SQL : SELECT LIST -->
	<select  id="getPurchaseList"  parameterType="hashmap"	resultMap="PurchaseSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT t.* FROM transaction t, product p WHERE t.prod_no = p.prod_no AND t.buyer_id = #{user.userId}
										<if test="search.searchCondition != null">
											<trim prefix="AND">
												<if test="search.searchCondition == 0 and search.searchKeyword !='' ">
										 			p.prod_name LIKE '%'|| #{search.searchKeyword} ||'%'
												</if>
												<if test="search.searchCondition == 1 and search.searchKeyword !='' ">
										 			p.prod_no LIKE '%'|| #{search.searchKeyword}  ||'%'
												</if>
											</trim>
										</if> ORDER BY prod_name ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 <select  id="getSaleList"  parameterType="search"	resultMap="PurchaseSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT p.* , t.tran_status_code FROM  product p , transaction t WHERE p.prod_no = t.prod_no (+)  
										<if test="searchCondition != null">
											<trim prefix="AND">
												<if test="searchCondition == 0 and searchKeyword !='' ">
										 			p.prod_name LIKE '%'|| #{searchKeyword} ||'%'
												</if>
												<if test="searchCondition == 1 and searchKeyword !='' ">
										 			p.prod_no LIKE '%'|| #{searchKeyword}  ||'%'
												</if>
											</trim>
										</if> ORDER BY p.prod_name ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 <!--
	 	 위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		
	-->
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT t.* FROM transaction t, product p WHERE t.prod_no = p.prod_no 
						<if test="searchCondition != null">
							<trim prefix="AND">
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			p.prod_name LIKE '%'|| #{searchKeyword} ||'%'
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 			p.prod_no LIKE '%'|| #{searchKeyword} ||'%'
								</if>
							</trim>
						</if> ORDER BY prod_name ) countTable						
	 </select>
	 
</mapper>